# =========================
# Zależności Frontendowe (Node/React/Vite)
# =========================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Zależności Backendowe (Python/FastAPI)
# =========================
api/.venv/
api/venv/
api/env/
api/__pycache__/
api/*.py[cod]
api/*$py.class
api/.pytest_cache/
api/serviceAccountKey.json
__pycache__/
*.pyc
.pytest_cache/
.venv
venv

# =========================
# Pliki środowiskowe i sekrety
# =========================
.env
.env.*
*.env

# =========================
# Machine Learning / Duże pliki danych
# =========================
*.csv
*.tsv
*.dat
*.pkl
*.h5
*.model
api/models/
.ipynb_checkpoints/
notebooks/overviews_cache.json
notebooks/embeddings_minilm.npy

# =========================
# Pliki systemowe i konfiguracyjne IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# =========================
# Zbiór danych
# =========================
ml-100k/
tmdb_cache.json
.vercel
